この度は、「familia glido」にお申し込み頂きまして
誠にありがとうございます。

受付番号：{{ .AcceptedNumber }}

お申し込み頂きました登録情報をご確認ください。

　ギルド名：{{ .GuildName }}
　オーナーメールアドレス：{{ .OwnerMail }}

ご本人様確認のため「{{ .FormattedExpirationDate }}」までに以下URLにアクセスし
ギルドの本登録を完了させて下さい。
http://localhost:3000/?token={{ .Token }}

※当メール送信後、上記期限を超過しますと、セキュリティ保持のため有効期限切れとなります。
　その場合は再度、最初からお手続きをお願い致します。

※お使いのメールソフトによってはURLが途中で改行されることがあります。
　その場合は、最初の「http://」から末尾の英数字までをブラウザに
　直接コピー＆ペーストしてアクセスしてください。

※当メールは送信専用メールアドレスから配信されています。
　このままご返信いただいてもお答えできませんのでご了承ください。

※当メールに心当たりの無い場合は、誠に恐れ入りますが
　破棄して頂けますよう、よろしくお願い致します。
